*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
margin:75px;
font-style: italic;

}

body{
font-family: 'Roboto', sans-serif;
text-align: center;
background-image: url(./clouds-7613361_1920.png);
background-size: 90rem;
background-repeat: no-repeat;

}

label{

    display: inline-block;
    width: 150px;
text-align: left;
padding: 20px;
}

label:hover{
    cursor: pointer;
    color: white;
}

form{
background-color: aquamarine;
text-align: center;
padding: 35px;
width: fit-content;
display: inline-block;
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
border-radius: 20px;
box-shadow: #8EC5FC;
}
form:hover{

    cursor: pointer;
    box-shadow: rgb(145, 172, 224);
}


input{

    border-radius: 10px;
    border: none;
    padding: 8px;
}
input:hover{

    cursor: pointer;
    background-color: #8EC5FC;
    color: white;
}
.buton{
    
    
}
